In [1]:
import numpy as np

# To create numpy arrays from list

In [2]:
list_1 = [1,2,3,4,5]

In [3]:
np_arr = np.array(list_1)
np_arr

array([1, 2, 3, 4, 5])

In [4]:
#To create 2-D array

In [5]:
list_2 = [[1,2,3], [4,5,6], [7,8,9]]
np_arr = np.array(list_2)

In [6]:
np_arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

# Generate array

In [7]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

To get array of numbers with specific interval/

In [8]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

# Get evenly certain number of spaced numbers within an interval

In [9]:
#Returns 20 numbers between range 0 to 10
np.linspace(0,10,20)

array([  0.        ,   0.52631579,   1.05263158,   1.57894737,
         2.10526316,   2.63157895,   3.15789474,   3.68421053,
         4.21052632,   4.73684211,   5.26315789,   5.78947368,
         6.31578947,   6.84210526,   7.36842105,   7.89473684,
         8.42105263,   8.94736842,   9.47368421,  10.        ])

# Create Identity matrix

In [10]:
np.eye(6)

array([[ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.]])

# Random Numbers from Uniform Distribution

In [11]:
np.random.rand(5)

array([ 0.12891375,  0.22088939,  0.60622235,  0.14249161,  0.32927693])

In [12]:
np.random.rand(3,5)

array([[ 0.20054521,  0.82897645,  0.78885819,  0.04334102,  0.93972698],
       [ 0.64010029,  0.88070347,  0.74693871,  0.00121282,  0.97478204],
       [ 0.54724498,  0.28245138,  0.78567991,  0.15088799,  0.26724046]])

# Create random numbers from Gaussian distribution

In [13]:
np.random.randn(10)

array([ 0.58146498,  0.23938721, -1.64123502, -2.42642252, -0.97411722,
        0.52015009,  0.61650269,  0.48888559, -0.49323698, -0.93145158])

In [14]:
np.random.randn(2,3)

array([[-0.60362673,  0.18583299, -0.49621434],
       [-0.90333255, -0.86626762, -1.446351  ]])

# Generate random integer from high to low

In [15]:
np.random.randint(1,100)

31

In [16]:
#create 10 random integers from 1 to 100
np.random.randint(1,101,10)

array([66, 35, 15, 21, 26, 85, 24, 36, 28, 11])

# Reshape

In [17]:
arr_1 =np.arange(20)

In [18]:
arr_2 = np.random.randint(0,50,10)
arr_2

array([35, 11, 49, 46, 21, 47, 39, 34, 11,  8])

In [19]:
arr_1.reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

# Get max value in an array

In [20]:
arr_2.max()

49

# Get min value in an array

In [21]:
arr_2.min()

8

# Get Index of maximum value in an array

In [22]:
arr_2.argmax()

2

# Get Index of minimum value in an array

In [23]:
arr_2.argmin()

9

# Get shape of an array

In [24]:
arr_1.shape

(20,)

In [25]:
#The above output indicates that it is a 1-D array. 
#Let's reshape
arr_1 = arr_1.reshape(5,4)

In [26]:
arr_1.shape

(5, 4)

# Get datatype within array

In [27]:
arr_1.dtype

dtype('int32')

# Index and Selection

In [28]:
arr_in = np.arange(0,11)

In [29]:
arr_in

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [30]:
arr_in[7]

7

In [31]:
#To get range of values
arr_in[5:9]

array([5, 6, 7, 8])

In [32]:
#to grab everything from start to end
arr_in[5:]

array([ 5,  6,  7,  8,  9, 10])

In [33]:
#Broadcast values
arr_in[0:5] = 50

In [34]:
arr_in

array([50, 50, 50, 50, 50,  5,  6,  7,  8,  9, 10])

In [35]:
#Numpy slice
sl_arr = arr_in[0:5]
sl_arr

array([50, 50, 50, 50, 50])

In [36]:
sl_arr[:] = 200

In [37]:
sl_arr

array([200, 200, 200, 200, 200])

In [38]:
arr_in

array([200, 200, 200, 200, 200,   5,   6,   7,   8,   9,  10])

In [39]:
#The change has been refelected in the original array. It just uses references and does not create its own copy of data

# Copy array to avoid reference

In [40]:
arr_in

array([200, 200, 200, 200, 200,   5,   6,   7,   8,   9,  10])

In [41]:
arr_in_cpy = arr_in.copy()
arr_in_cpy

array([200, 200, 200, 200, 200,   5,   6,   7,   8,   9,  10])

In [42]:
arr_in_cpy[0:5] = 0

In [43]:
arr_in_cpy

array([ 0,  0,  0,  0,  0,  5,  6,  7,  8,  9, 10])

In [44]:
arr_in

array([200, 200, 200, 200, 200,   5,   6,   7,   8,   9,  10])

In [45]:
#It can be noted that the above result affect only the copied array not the original

# Index 2D array or matrix

In [46]:
arr_2d = np.array([[1,2,3], [4,5,6], [7,8,9]])

In [47]:
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [48]:
#To get '1'
arr_2d[0][1]

2

In [49]:
#To get first row
arr_2d[0]

array([1, 2, 3])

In [50]:
#Other way
arr_2d[0,1]

2

In [51]:
arr_2d[:2,1:]

array([[2, 3],
       [5, 6]])

# Array Comparison

In [52]:
arr_3 = np.arange(1,11)

In [53]:
arr_3 > 5

array([False, False, False, False, False,  True,  True,  True,  True,  True], dtype=bool)

It returns array of true or false value

In [54]:
arr_3

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [55]:
#To save that
boo_arr_3 = arr_3 > 5
boo_arr_3

array([False, False, False, False, False,  True,  True,  True,  True,  True], dtype=bool)

In [56]:
arr_3[boo_arr_3]

array([ 6,  7,  8,  9, 10])

This will return the value where there is 'true' in boolean array

In [57]:
#Conditional selection
arr_3[arr_3 > 3]

array([ 4,  5,  6,  7,  8,  9, 10])

# Numpy Operations

In [58]:
arr_1 = np.arange(0,11)
arr_1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

To add element by element basis

In [59]:
arr_1 + arr_1

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

Subtract

In [60]:
arr_1 - arr_1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Multiplication

In [61]:
arr_1 * arr_1

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [62]:
#Scalar addition
arr_1 + 100

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110])

In [63]:
#Dividing by zero will give 'nan' not error

In [64]:
arr_1 / arr_1

C:\Users\Vivek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([ nan,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.])

In [65]:
1 / arr_1

C:\Users\Vivek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([        inf,  1.        ,  0.5       ,  0.33333333,  0.25      ,
        0.2       ,  0.16666667,  0.14285714,  0.125     ,  0.11111111,
        0.1       ])

# Universal Array Functions

In [66]:
#Square root
np.sqrt(arr_1)

array([ 0.        ,  1.        ,  1.41421356,  1.73205081,  2.        ,
        2.23606798,  2.44948974,  2.64575131,  2.82842712,  3.        ,
        3.16227766])

In [67]:
#for exponent 
np.exp(arr_1)

array([  1.00000000e+00,   2.71828183e+00,   7.38905610e+00,
         2.00855369e+01,   5.45981500e+01,   1.48413159e+02,
         4.03428793e+02,   1.09663316e+03,   2.98095799e+03,
         8.10308393e+03,   2.20264658e+04])

In [68]:
np.max(arr_1)

10

In [69]:
np.sin(arr_1)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849,
       -0.54402111])

In [70]:
np.log(arr_1)

C:\Users\Vivek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([       -inf,  0.        ,  0.69314718,  1.09861229,  1.38629436,
        1.60943791,  1.79175947,  1.94591015,  2.07944154,  2.19722458,
        2.30258509])

# Numpy argsort

# Sorting values of one array according to the otherÂ¶

# Say, we want to order the people according to their age and their heights.

In [71]:
ages = np.random.randint(low=30, high=60, size=10)
heights = np.random.randint(low=150, high=210, size=10)

print(ages)
print(heights)

[35 42 50 42 53 55 50 37 38 30]
[198 178 199 173 191 171 201 169 202 195]

In [72]:
sorter = np.argsort(ages)
print(ages[sorter])
print(heights[sorter])

[30 35 37 38 42 42 50 50 53 55]
[195 198 169 202 178 173 199 201 191 171]